body{
     background-color: #97b9e6ff;
     width: 60%;
     margin: auto;
}
@font-face {
     font-family: 'Raleway';
     src: url('fonts/bowlby-sc/raleway/Raleway-Thin.woff2') format('woff2'),
         url('fonts/bowlby-sc/raleway/Raleway-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 } 

 @font-face {
     font-family: 'BowlbyOneSC';
     src: url('fonts/bowlby-sc/BowlbyOneSC-Regular.woff2') format('woff2'),
         url('fonts/bowlby-sc/BowlbyOneSC-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }

h1{
     font-family: 'BowlbyOneSC';
     color: rgb(255, 255, 255);
     font-size: 75;
}

p{
     font-family: 'Raleway';
     font-size: 18;
     font-weight: 900;
     color: white;
}
a{
     font-family: 'Raleway';
     font-size: 18;
     font-weight: 900;
     color: white;
}
.container{
     padding-top: 100px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     align-items: flex-end;
}

a:visited{
     color: rgb(0, 95, 60);
}

a:hover{
     color: #848716ff;
}
